/**
 * @author Aldi Mustafri
 * @email aldimustafri@live.com
 * @create date 2020-09-19 02:31:33
 * @modify date 2020-09-19 02:31:33
 * @desc [description]
 */

.card {
  position: relative;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 6px;
  height: 180px;
  overflow: hidden;
  width: 350px;
  margin: 40px auto;

  .shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
    background-size: 1200px 100%;
  }

  @-webkit-keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -1200px 0;
    }
    100% {
      background-position: 1200px 0;
    }
  }

  .padding {
    padding: 32px;
  }

  .title {
    height: 24px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 20px;
  }

  .content {
    height: 8px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
  }
}

.margin_top {
  margin-top: 24px;
}
